.main{
    position: relative;
    
}
.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    
}
.navbar 
{
    background-color: rgb(26, 26, 26);
    height: 46px;
    display: flex;
    justify-content: space-between;
}
.navbar__list
{
}
.navbar__list-items
{   
    color: white;
    height: 46px;
    line-height: 46px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    
}
.navbar__list--logo
{
    max-width: max-content;
}
.navbar__list-items-logo
{   
    margin: 0 6px;
    padding-top: 10px;
    height: 35px;
    line-height: 46px
}
.navbar__list-items--separate
{
    border-right: 1px solid white;
}
.navbar__list-items-link
{
    text-decoration: none;
    color: white;
  
}
.navbar__list-items--language
{
    width: 105px;
    height: 46px;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    
}
.navbar__list-items--language:hover
{
    background-color: rgb(52, 52, 52);
}
.navbar__list-items--language:hover .navbar__list-items-menulanguage
{
 display: flex;
}
.navbar__list-items--signin
{
    width: 210px;
    height: 46px;
    /* border: 1px solid white; */
    display: inline-flex;
    justify-content:start;
}
.navbar__list-items--language-link>i
{
    padding-right: 10px;
}
.navbar__list-items--signin-link
{
    padding-left: 10px;
}
.navbar__list-items--signin-link >i
{
    padding-right: 10px;
}

/* menulanguage */

.navbar__list-items-menulanguage
{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    display: none;
    
}

.navbar__list-items-menulanguage-bnt
{   
    margin-left: 26px;
    width: 77px;
    text-decoration:none;
    border: 1px solid rgb(26, 26, 26);
    background-color: rgb(52, 52, 52);
    color: white;
    
}

.navbar__list-items > .navbar__list-items-link >.fa-chevron-up
{
    position: absolute;
    left: 80%;
    top:30%;
    height: 20px;
    display: none;    
}
.navbar__list-items--language:hover .navbar__list-items >.navbar__list-items-link >.fa-chevron-up
{
    display: block;
}
.navbar__list-items > .navbar__list-items-link >.fa-chevron-down
{   
    
    position: absolute;
    left: 80%;
    top:30%;  
}
.navbar__list-items--language:hover .navbar__list-items >.navbar__list-items-link >.fa-chevron-down
{
    display: none;
}


.navbar__list-items-menulanguage-bnt--last
{
    border-radius: 0px 0px 5px 5px;
}
.sign-log 
{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 210px;
    height: 300%;
    background-color: rgb(52, 52, 52);
    left: 0px;
    display: none;
    border-radius: 0px 0px 5px 5px;
    
}
.sign-log__button:first-child
{
    border: 1px solid white;
    color: white;
    background-color: rgb(52, 52, 52);
    border-radius: 25px;
    margin: 0 auto;
    padding: 15px 20px;
    width: 180px;
    
}
.sign-log__button:last-child
{   
    border-radius: 25px;
    padding: 15px 20px;
    width: 180px;
    margin: 0 auto;
    background-color: rgb(191, 1, 1);
    color: white;
}
.sign-log__button:first-child:hover
{
    cursor: pointer;
}
.sign-log__button:last-child:hover
{
    background-color: rgb(146, 31, 31);;
    cursor: pointer;
}
.navbar__list-items--signin
{
    margin-left: -4px;
}
.navbar__list-items--signin:hover
{
    background-color: rgb(52, 52, 52);
}
.navbar__list-items--signin:hover .sign-log 
{
    display: flex;
}

/* Top-search */
.top-search
{   
    width: 100%;
    height: 75px;
    background-color: rgb(191, 1, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.top-search-left
{
    display: flex;
}
.top-search__items 
{
    display: inline-block;
    line-height: 75px;
    font-size: 20px;
    font-weight:bold;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    
}
.top-search__items:hover 
{
    border-bottom: 2px solid white;
    box-sizing :border-box;
}
.top-search__items  > a 
{
    text-decoration: none;
    color: white ;
}
.top-search__list--logo
{   
    
    width: 100px;
    height: 60px;
    background-image: url(//assets.manutd.com/AssetPicker/images/0/0/3/2/197240/Header-Logo1500994616801.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 30px;
}
.top-search-right
{   
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-search-right--icon 
{
    text-decoration: none;
    color: white;
    position: relative;
    
}

.top-search-right--icon:hover .search-modal 
{
    display: flex;
} 
.top-search-right--icon > i 
{
    margin-right: 10px;
} 
.top-search-right--img 
{   
    display: flex;
    width: 140px;
    height: 24px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    justify-content: center;
    
}
.top-search-right--img > a
{
    text-decoration: none;
    color: white;
    line-height: 24px;
}
.top-search-right--img>a>img
{
    height: 8px;
    width: 42px;
}
.search-modal 
{   
    display: flex;
    width: 100vw;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    top: 250%;
    left: -1150%;    
    justify-content: center;
    align-items: center;
    background-color: white;
    display: none;
    
}
.search-modal::before
{
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    /* background-color: red; */
    top:-40px;
    left: 68%;
}
.search-modal__items
{
    margin: 0 20px;
}
.search-modal__items--input
{
    width: 75vw;
    height: 60%;
    border: 2px  solid rgb(122, 122, 194);
    border-radius: 25px;
    padding-left: 20px;
    font-size: 20px;
}
.search-modal__items--bnt-search
{   
    width: 7%;
    height: 45%;
    border-radius: 25px;
}
.search-modal__items--bnt-x
{
    width: 25px;
    height: 25px;
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 50%;  
}
.top-search-right--shopcard>a
{
    position: relative;
}

.top-search-right--shopcard>a>i
{
    font-size:xx-large;
    color: white;
}
.cart-shopping:hover
{
    cursor: pointer;
}
.cart-shopping__amount
{
    position: absolute;
    width: 22px;
    height: 15px;
    font-size: small;
    font-weight: bold;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c70101;
    border: 1px solid rgb(112, 101, 101);
    border-radius: 5px;
    top: -100%;
    left: 70%;
    z-index: 2;

}
/* container-page */
.container{
    padding-top: 121px;
}
.slide 
{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    margin-top: 0;
    background-image: url(https://wallpapercave.com/wp/wp3293644.jpg);
    background-size:100% 80vh;
}
.slide__img 
{
    width: 100%;
    height: 100%;
}
.first-team {
    background-color: #f8f8f8;

}
.goolkeeper__title{
    margin: 10vh 9vw 0 9vw;
}
.goalkeepers {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw;
}

.showplayers
{   
    width: 18vw;
    height: 18vw;
    border: 1px solid gray;
    border-radius: 5px;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color :white;
    margin-top: 3%;
    opacity: 1;
    text-shadow: 0.4px 0.4px  0.4px black;
    filter: grayscale(10%);
}
.showplayers_number 
{
    font-size: 30px;
    margin: 18px;
    border-bottom: 2px solid rgb(191, 1, 1);
    font-weight: bold;
}
.showplayers_firstName
{   
    
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
.showplayers_lastName
{
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 10px 10px;
}

.defenders {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw;
    flex-wrap: wrap;
}
.defenders__title { 
    margin: 10vh 9vw 0 9vw; 
}
.midfielders__title 
{
    margin: 10vh 9vw 0 9vw;
}    
.midfielders {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw;
    flex-wrap: wrap;
}
.forwards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 7vw;
    flex-wrap: wrap;
}
.forwards__title {
    
    margin: 10vh 9vw 0 9vw;
   
}

/* manager */

.manager 
{
    width: 100%;
    height: 600px;
    background-color:rgb(63,63,63);
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.manager-left
{
    
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    flex :1;
}
.manager-left >div
{
    
    color: white;
    font-size: x-large;
    margin-left: 60px;
    margin-bottom: 30px;
}
.manager-left >div>span
{
    color: rgb(139,139,139);
    margin-bottom: 10px;
    font-size: medium;
}
.manager-left >div>span>img
{
    height: 30px;
    width: 38px;
    margin-right: 10px;
}
.manager__title
{   
    flex: 2;
    margin-bottom: 20px;
    color: wheat
}
.manager__name
{   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex :1
}
.manager__birth
{   
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.manager__country
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.manager__country> .manager__country-flag
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large ;
    color: white;
}
.manager__img
{
    flex: 1;
    margin-top: 100px;
}

.manager__quote
{
    flex: 1;
    width: 300px;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
    
}


/* shop */
.shop 
{   
    margin-top:8vh;
    margin-right: 20px;
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.shop__items
{   
    width: 200px;
    height: 80px;
    margin: 0 5px;
}
.shop__items--img
{
    width: 200px;
    height: 200px;
    background-size: contain;
    position: relative;
}
.shop__items--img:hover .cart-plus 
{
    display: flex;  
}
.cart-plus 
{
    width: 100%;
    height: 12%;
    background-color: rgb(112, 101, 101);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.cart-plus>span 
{
    color: white;
    margin-right: 5px;
}
.cart-plus:hover
{
    cursor: pointer;
    opacity: 90%;
    background-color: rgb(191, 1, 1);
}
.cart-plus > i
{
    font-size: medium;
    color: white;
} 
.shop__items--name 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.shop__items--reduced
{
    color: rgb(191, 1, 1);
    font-size: larger;
    margin: 5px 0; 
}
.shop__items--regular
{
    font-size: larger;
    margin-bottom: 5px;
    text-decoration: line-through;
}
.shop-title
{
    margin: 10vh 7vw 0 7vw;
}

/* footer */

.footer-logo 
{
    height: 210px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}
.footer-logo > img 
{
    width: 200px;
    height: 200px;
}
.footer-bottom__listbnt
{
    height: 125px;
    background-color: #2A2A2A;
    width: 100%;
}
.footer-bottom__listbnt 
{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.footer-bottom__listbnt >div
{
    width: 44px;
    height: 44px;
    background-color: #3f3f3f;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    
}
.footer-bottom__listbnt >div>a>i
{
    color: white;
    font-size: 20px;
    
}

.footer-bottom__listbnt>div:hover
{
    background-color: #c70101;
}

/* footer-bottom__end */
.footer-bottom__end
{
    width: 100vw;
    height: 44px;
    background-color: #1a1a1a;
    border-top: 01px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom__end--items
{   
    flex: 8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}
.footer-bottom__end--items > a 
{
    margin: 0 3px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.footer-bottom__end--items > a:hover
{
    border-bottom: 1px solid white;
}
.footer-bottom__end>span
{
    display: flex;
    justify-content: end;
    flex: 3;
    color: #a3a3a3;
    margin-right: 30px;
}

.login-form 
{   
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 300%;
    left: 45%; 
    margin: auto;
    display: none;

}


/* SHOP CART MODAL */

.cartModal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
  
  /* Modal Content */
  .modal-content {
    
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 95%;
    border: 5px solid black;
  }
  .modal-navbar 
  {     
      height:  10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }
  
  .modal-navbar__list
  {
      
      display: flex;
      justify-content: flex-start;
  }
  .modal-navbar__close
  {
      
      color: white;
      width: 35px;
      height: 35px;
    font-size: 30px;
    font-weight: bold;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
      
  }
  .modal-navbar__list 
  {     
      margin-left: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .modal-navbar__list >div
  {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .modal-navbar__list >div:hover 
  {
      cursor: pointer;
      color:rgb(191, 1, 1);

  }
  /* The Close Button */
 
  .modal-navbar__close:hover
  {
    color:rgb(191, 1, 1);
    text-decoration: none;
    cursor: pointer;
  }
  .cartModal__listItems
  {   

      height: 95%;
      width: 80%;
      margin: 0 0 0 5%;
      color: white;
  }
  .cartModal__listItems-title
  {
      height: 6%;
      background-color: rgb(191, 1, 1);
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .title-products
  {
      display: flex;
      justify-content: flex-start;
      flex: 6;
      margin-left: 5%;
  }
    .title-quantiny
    {
        flex: 1;
    }
    .title-subtotal
    {
        flex: 3;
        display: flex;
        justify-content: center;
        
    }
    .cartModal__listItems-products
    {
        width: 100%;
        height: 60%;
        overflow:scroll;
        color: #000;
    }
    .itemsShopCart
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0;
        padding: 10px;
        border: 1px solid rgb(191, 1, 1);
    }
    .items-products__list
    {   
        flex: 6;
        display: flex;
    }
    .items-products--img
    {
        height: 100px;
        width: 100px;
        background-size: cover;
    }
    .items-products--detail
    {
        width: 60%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: medium;
        font-style: italic;
    }
    .detail--remove
    {
        font-size: larger;
        font-weight: bold;
        font-style: normal;
    }
    .items-quanity
    {
        flex:1 ;
    }
    .items-subtotal
    {
        flex: 2.5;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        font-weight: bolder;
        font-size: larger;
        
    }



    /* PAYMENT */
    .cartModal__listItems-payment
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 20%;
        color: #000;
        
    }
    .payment-box 
    {   
        width: 40%;
        display: flex;
        
        flex-direction: column;
        justify-content: flex-start;
        border-top: 5px solid rgb(191, 1, 1);
    }
    .payment-box__items
    {
        font-size: medium;
        font-weight: bolder;
        margin: 3px 0;
    }
    .detail--remove:hover 
    {
        cursor: pointer;
        color:rgb(191, 1, 1);
        transform: scale(1.02,1.02);
        transition: opacity .2s ease-out,transform 3.8s cubic-bezier(0.19,1,.22,1);
    }

    .showplayers:hover
    {
        transform: scale(1.1,1.1);
        transition: opacity .2s ease-out,transform 3.8s cubic-bezier(0.19,1,.22,1);
    }
    .shop__items:hover 
    {
        transform: scale(1.1,1.1);
        transition: opacity .2s ease-out,transform 3.8s cubic-bezier(0.19,1,.22,1);  
    }
    .items-quantity
    {   
        margin-left: 5%;
        width:7%;
        height: 50px;
        font-size: larger;
        padding-left: 5px;
        font-weight: bolder;
    }


    /* signupmodal */

    
.signupmodal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
}
.signupmodal-content {
    
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 95%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signupmodal__close
  {
      position: absolute;
    color: white;
    top: 20%;
    right: 15%;
    width: 35px;
    height: 35px;
  font-size: 30px;
  font-weight: bold;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
    
  }
  
  .signupmodal__close:hover
  {
    color:rgb(191, 1, 1);
    text-decoration: none;
    cursor: pointer;
  }
  .signupmodal-content > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.signupmodal-content>input 
{
    width: 25%;
    height: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.signupmodal-content>input:hover
{
    border: 2px solid rgb(97, 149, 228);
}
.signupmodal-content>.check 
{
    color: rgb(191, 1, 1);
    font-size: xx-small;
   z-index: 15;
}
.signupmodal-content>label 
{   
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
.sign-h6
  {
      font-size: small;    
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
  }
  .last
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:medium;
    margin-bottom: 10px;
}
.sign-p
{
     

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: black;
    margin-bottom: 10px;

}

.sign-p>a 
{
    color: black;
    margin-left: 5px;
}
.singup-bnt
{
    width: 18%;
    height: 7%;
    border-radius: 10px;
    background-color: #c70101;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 3%;
}
.singup-bnt:hover
{   
    
    opacity: 85%;
    cursor: pointer;
}

/* LOG-IN */
.loginmodal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
}
.loginmodal-content {
    
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 95%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginmodal__close
  {
      position: absolute;
    color: white;
    top: 20%;
    right: 15%;
    width: 35px;
    height: 35px;
  font-size: 30px;
  font-weight: bold;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
    
  }
  
  .loginmodal__close:hover
  {
    color:rgb(191, 1, 1);
    text-decoration: none;
    cursor: pointer;
  }
  .loginmodal-content > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.loginmodal-content>input 
{
    width: 25%;
    height: 5%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.loginmodal-content>input:hover
{
    border: 2px solid rgb(97, 149, 228);
}
.loginmodal-content>.check 
{
    color: rgb(191, 1, 1);
    font-size: xx-small;
    margin-top: -1%;
}
.loginmodal-content>label 
{   
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
.sign-h6
  {
      font-size: small;    
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
  }
  .last
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:medium;
    margin-bottom: 10px;
}
.sign-p
{
     

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: black;
    margin-bottom: 10px;

}

.sign-p>a 
{
    color: black;
    margin-left: 5px;
}
.loginmodal-bnt 
{
    width: 15%;
    height: 7%;
    border-radius: 10px;
    background-color: #c70101;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 6%;
}
.loginmodal-bnt:hover
{   
    
    opacity: 85%;
    cursor: pointer;
}

.payment-button-clm 
{
    width:  50%;
    height: 25px;
    margin-left: 20%;
    margin-top: 10px;
    border: 1px solid black;

}

.payment-button-clm:hover
{
    cursor: pointer;
    border: 1px solid rgb(191, 1, 1);
}

