*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signupmodal-content > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h6 
{
    font-size: small;    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p 
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: black;

}
p>a 
{
    color: black;
}
input
{
    margin-bottom: 5%;
}
label
{
    font-size: smaller;
    margin-bottom: 1%;
}
button
{   
    margin-left:20% ;
  
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-label
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;

}
.checkbox-label >input

{   
    font-size: smaller;
    margin-top: 5%;
    margin-right: 2px;
}
.checkbox-label >span>a
{
    color: black;
    margin-left:  10px;
    font-size: small;
}
.last
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:medium
}